.about_area {
    background: #143132;
}

.about_area .about_area-card {
    background: rgba(20, 49, 50, 1);
    color: white;
    border-radius: 0;
    border-top: 0;
    border-bottom: 0;
    border-left: 6px solid rgba(49, 109, 108, 0.3);
    border-right: 6px solid rgba(49, 109, 108, 0.3);
    /* cursor: pointer; */
    /* min-height: 150px; */
}

.cursor-pointer {
    cursor: pointer;
}

.about_area-card image {
    max-width: none;
}

.about_area-card .highlight {
    background: rgba(49, 109, 108, 0.1);
}

.about_area-card h5 {
    font-size: 21px;
    font-weight: bold;
    margin: 10px 0;
}

@media (min-width: 768px) {
    .col-md-3:nth-child(4n) .about_area .about_area-card {
        border-left: 6px solid rgba(49, 109, 108, 0.3);
    }

    .col-md-3 .card {
        border-left: 0;
    }
}

@media (max-width: 768px) {
    .about_area-card h5 {
        letter-spacing: -1.5px;
        line-height: 1.5;
    }

    .about_area .about_area-card {
        min-height: 150px;
    }
}

@media (max-width: 991.98px) {
    .about_area-card image {
        max-width: 100%;
        height: auto;
    }
}
